<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserDao">

    <insert id="save" parameterType="User">
        insert into t_user values(#{UserName},#{UserId},#{password},#{capacity})
    </insert>

    <select id="login" resultType="User">
        select * from t_user
        where UserId=#{UserId} and UserName=#{UserName} and password=#{password} and capacity=#{capacity}
    </select>

</mapper>